.navbar {
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .collapse.navbar-collapse {
    bottom: -30px;
    position: absolute;
    right: 0;
  }

  html[dir='rtl'] .collapse.navbar-collapse {
    left: 0;
    right: auto;
  }

  .navbar-default {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .collapse.navbar-collapse {
    bottom: 0;
  }

  .navbar-default {
    padding-bottom: 0;
  }
}
