html,
body,
#react-mount {
  height: 100%; /* The html and body elements cannot have any padding or margin. */
}

@media print {
  #footer {
    display: none;
  }
}

.version {
  position: absolute;
  right: 15px;
  top: 40px;
}

.version:hover,
.version:active,
.version:focus {
  text-decoration: none;
}

.footer-link {
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.footer-link:hover {
  text-decoration: none;
}
